<app-confetti *ngIf="tileService.winningCount >= 20"></app-confetti>
<div class="wrapper">
  <h1>
    {{ tileService.winningCount < 20 ? "Simon" : "You Won!!" }}
  </h1>
  
  <div>
    <audio src=""></audio>
    <div class="board">
      <app-tile *ngFor="let tile of tiles" [tile]="tile"></app-tile>
    </div>
    <div class="controls">
      <div class="count">{{ tileService.winningCount }}</div>
      <button (click)="start()" class="start">Start</button>
      <button (click)="reset()" class="reset">Reset</button>
    </div>
    <div>
      <button class="strict">
        <input (change)="strictSwitch()"
         id="strict" type="checkbox">
        <label for="strict">Strict</label>
      </button>
    </div>
  </div>
</div>